<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebApi-20190815053248.mdf;Initial Catalog=aspnet-WebApi-20190815053248;Integrated Security=True"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />

    <add name="CommissionIncentiveEntities"
         connectionString="metadata=res://*/CommissionIncentive.csdl|res://*/CommissionIncentive.ssdl|res://*/CommissionIncentive.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devben.database.windows.net;initial catalog=CommissionIncentive_Dev;persist security info=True;user id=sntuser;password=s33dn3T!;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>